<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
        <title>University Registrrrrraaaarrrrr!!</title>
    </head>
    <body>
        <div class='container'>
            <h1>University Registrar</h1>

            <div class='row'>
                <div class='col-md-6'>
                    <p>Select... thing to do stuff to?</p>
                    <form action='/students' method='get'>
                        <button type='submit' class='btn right'>View/edit students</button>
                    </form>

                    <form action='/courses' method='get'>
                        <button type='submit' class='btn '>View/edit courses</button>
                    </form>
                </div>
                <div class='col-md-6'>
                </div>
            </div>
        </div>

    </body>
</html>
